.transactionsPage {
    overflow: scroll;
    max-height: 91vh;
    padding: 1rem;
  }
  
  .transactions {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 2rem;
    align-items: stretch;
    max-height: 100%;
    font-family: 'Lato', sans-serif !important;
  }
  
  .actions {
    display: flex;
    flex-direction: row;
    padding: 1rem 2rem;
    gap: 20px;
    font-family: 'Lato', sans-serif !important;
    max-width: 100%;
    flex-wrap: wrap; 
  }
  
  .actions > * {
    flex: 1;
    width: 100%;
  }
  
  .historico {
    padding: 1rem;
  }
  
  @media (max-width: 768px) {
    .transactions {
      flex-direction: column;
    }
  
    .actions {
      flex-direction: column;
    }
  
    .historico {
      width: 100%;
    }
  
    .grafico {
      width: 100% !important;
    }
  }
  
  @media (max-width: 480px) {
    .transactionsPage {
      padding: 0.5rem;
    }
  
    .transactions, .actions {
      padding: 1rem;
    }
  
    .actions > * {
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 1024px) {
    .grafico {
      width: 100% !important;
      margin-bottom: 20px; /* Espaçamento entre os gráficos */
    }
  }
  
  @media (max-width: 768px) {
    .grafico {
      max-width: 100% !important;
    }
  }
  
  @media (max-width: 480px) {
    .grafico {
      max-width: 100% !important;
      margin-bottom: 10px; /* Espaçamento menor para telas pequenas */
    }
  }
  