.historicoContainer {
  margin: 30px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  max-width: 100%;
  font-family: 'Lato', sans-serif !important;

  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  h2 {
    color: #878787;
    font-size: 22px;
    margin-bottom: 1.5rem;
    font-weight: 300;
  }
}

.historicoTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.historicoTable th, 
.historicoTable td {
  padding: 12px;
  text-align: left;
}

.historicoTable th {
  color: #666;
  font-weight: 500;
}

.historicoTable td {
  border-bottom: 1px solid #eaeaea;
}

/* Ações de compra e venda */
.acaoCompra {
  display: inline-block;
  padding: 6px 12px;
  background-color: rgba(255, 38, 38, 0.19);
  color: #FF2626;
  border-radius: 5px;
  font-weight: normal;
  text-align: center;
  width: 79px;
}

.acaoVenda {
  display: inline-block;
  padding: 6px 12px;
  background-color: rgba(0, 185, 41, 0.20);
  color: #00B929;
  border-radius: 5px;
  font-weight: normal;
  text-align: center;
  width: 79px;
}

/* Status */
.statusOk {
  color: #3aa76d;
}

.statusPendente {
  color: #b1b1b1;
}

.statusCancelado {
  color: #d93240;
}

/* Responsividade */
@media (max-width: 768px) {
  .historicoContainer {
    margin: 10px;
    padding: 15px;
  }

  .historicoTable th, 
  .historicoTable td {
    padding: 10px;
    font-size: 14px;
  }

  .acaoCompra,
  .acaoVenda {
    width: 70px;
    padding: 5px 10px;
  }

  h2 {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .historicoTable {
    display: block;
    width: 100%;
    overflow-x: auto;
  }

  .historicoTable th, 
  .historicoTable td {
    font-size: 12px;
    padding: 8px;
  }

  .acaoCompra,
  .acaoVenda {
    width: 60px;
    padding: 5px 8px;
    font-size: 12px;
  }

  h2 {
    font-size: 16px;
  }
}
