.tendenciaDoMercado {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 20px;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  flex: 1;
  font-family: 'Lato', sans-serif;
  
  @media (max-width: 768px) {
    width: 100%; /* Ocupa 100% da largura do contêiner em telas menores */
    padding: 10px; /* Ajusta o padding em telas pequenas */
  }

  @media (max-width: 480px) {
    width: 100%; /* Mantém 100% da largura no mobile */
    padding: 8px; /* Padding menor para smartphones */
  }

  h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #2c2c2c;

    @media (max-width: 480px) {
      font-size: 16px; /* Reduz o tamanho da fonte no mobile */
    }
  }

  table {
    width: 100%; /* Mantém a tabela ocupando 100% da largura */
    border-collapse: collapse;

    @media (max-width: 768px) {
      width: 100%; /* Ajuste correto para telas menores */
    }

    @media (max-width: 480px) {
      width: 100%; /* Evita o problema de max-width para tabelas */
    }

    th {
      font-size: 14px;
      color: #999;
      text-align: left;
      padding-bottom: 0.5rem;

      @media (max-width: 480px) {
        font-size: 12px; /* Ajuste no tamanho da fonte no mobile */
      }
    }

    td {
      padding: 10px 0;
      font-size: 16px;
      color: #4a4a4a;

      @media (max-width: 480px) {
        font-size: 14px; /* Reduz o tamanho da fonte no mobile */
      }
    }

    td:first-child {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    td strong {
      font-weight: 600;
      color: #333;
    }

    td span {
      color: #999;
      font-size: 14px;
      margin-top: 2px;

      @media (max-width: 480px) {
        font-size: 12px; /* Reduz o tamanho da fonte no mobile */
      }
    }

    .price {
      color: #9292C1;
    }

    .positive {
      color: green;
      display: flex;
      align-items: center;
    }

    .negative {
      color: red;
      display: flex;
      align-items: center;
    }
  }
}
