@import "../../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  background-color: #fff;
  font-family: $font-stack;
  box-sizing: border-box;

  .nav {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;

    ul {
      display: flex;
      list-style-type: none;
      gap: 4rem;

      li {
        font-size: 1.4rem;
        font-weight: 700;
        cursor: pointer;
        color: #828493;

        &.active {
          color: #f79033;
        }
      }
    }
  }

  .searchBarContainer {
    display: flex;
    align-items: center;
    gap: 1rem;

    .ownerSelect {
      border: none;
      background-color: #f5f5f5;
      padding: 0.5rem;
      border-radius: 10px;
      font-size: 1rem;
      cursor: pointer;
      outline: none;
      color: #828493;

      &:focus {
        outline: none;
      }
    }

    .favoriteButton {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f5f5f5;
      border-style: none;
      border-radius: 10px;
      width: auto;
      height: auto;
      padding: 0.5rem;
      cursor: pointer;
      img {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  .accountList {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 19rem;
    overflow-y: auto;
    padding-right: 0.5rem;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #f79033;
      border-radius: 10px;
    }
  }

  .accountCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

    .accountInfo {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .accountName {
        font-size: 1.1rem;
        font-weight: 700;
        color: #000;
      }

      .accountOwner {
        font-size: 0.8rem;
        color: #828493;
      }
    }

    .accountActions {
      display: flex;
      align-items: center;
      gap: 1rem;

      .toggleBalanceButton {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1.1rem;
        font-weight: 700;
        color: #3853a4;

        img {
          width: 20px;
          height: 20px;
        }
      }

      .favoriteToggle {
        background: none;
        border: none;
        cursor: pointer;

        img {
          width: 24px;
          height: 24px;
        }
      }

      .settingsIcon {
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
    }
  }

  @media (max-width: 3840px) {
    gap: 3rem;
    padding: 2rem;

    .nav {
      padding-bottom: 2rem;
      ul {
        gap: 4rem;
        li {
          font-size: 3rem;
        }
      }
    }

    .searchBarContainer {
      gap: 2rem;
      .ownerSelect {
        padding: 1.9rem;
        border-radius: 1rem;
        font-size: 1.8rem;
        outline: none;
        color: #828493;

        &:focus {
          outline: none;
        }
      }

      .favoriteButton {
        border-radius: 1.5rem;

        padding: 1rem;
        cursor: pointer;
        img {
          width: 4rem;
          height: 4rem;
        }
      }
    }

    .accountList {
      gap: 2rem;
      max-height: 50rem;
      padding-right: 0.5rem;
    }

    .accountCard {
      border-radius: 1rem;
      padding: 2.5rem;

      .accountInfo {
        gap: 1rem;
        .accountName {
          font-size: 2.5rem;
        }

        .accountOwner {
          font-size: 2rem;
        }
      }

      .accountActions {
        gap: 1rem;

        .toggleBalanceButton {
          gap: 2rem;

          font-size: 2.5rem;
          img {
            width: 3rem;
            height: 3rem;
          }
        }

        .favoriteToggle {
          img {
            width: 3rem;
            height: 3rem;
          }
        }

        .settingsIcon {
          width: 3rem;
          height: 3rem;
        }
      }
    }
  }
  @media (max-width: 2560px) {
    gap: 1.7rem;
    padding: 2rem;
    .nav {
      padding-bottom: 1rem;
      ul {
        gap: 4rem;
        li {
          font-size: 2.3rem;
        }
      }
    }

    .searchBarContainer {
      gap: 2rem;
      .ownerSelect {
        padding: 1.1rem;
        border-radius: 1rem;
        font-size: 1.7rem;
        outline: none;
      }

      .favoriteButton {
        border-radius: 1.5rem;
        padding: 1rem;

        img {
          width: 2.6rem;
          height: 2.6rem;
        }
      }
    }

    .accountList {
      gap: 1rem;
      max-height: 30rem;
      padding-right: 0.5rem;
    }

    .accountCard {
      border-radius: 1rem;
      padding: 2rem;

      .accountInfo {
        gap: 1rem;
        .accountName {
          font-size: 2rem;
        }

        .accountOwner {
          font-size: 1.5rem;
        }
      }

      .accountActions {
        gap: 1rem;

        .toggleBalanceButton {
          gap: 2rem;

          font-size: 2rem;
          img {
            width: 2rem;
            height: 2rem;
          }
        }

        .favoriteToggle {
          img {
            width: 2rem;
            height: 2rem;
          }
        }

        .settingsIcon {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
  @media (max-width: 1920px) {
    gap: 1rem;
    padding: 1rem;
    .nav {
      padding-bottom: 0.7rem;
      ul {
        gap: 4rem;
        li {
          font-size: 1.6rem;
        }
      }
    }

    .searchBarContainer {
      gap: 1.4rem;
      .ownerSelect {
        padding: 0.8rem;
        border-radius: 1rem;
        font-size: 1.2rem;
        outline: none;
      }

      .favoriteButton {
        border-radius: 1rem;
        padding: 0.6rem;

        img {
          width: 2rem;
          height: 2rem;
        }
      }
    }

    .accountList {
      gap: 1rem;
      max-height: 20rem;
      padding-right: 0.5rem;
    }

    .accountCard {
      border-radius: 1rem;
      padding: 1.4rem;

      .accountInfo {
        gap: 1rem;
        .accountName {
          font-size: 1.3rem;
        }

        .accountOwner {
          font-size: 1rem;
        }
      }

      .accountActions {
        gap: 1rem;
        .toggleBalanceButton {
          gap: 1rem;
          font-size: 1.2rem;
          img {
            width: 1.6rem;
            height: 1.6rem;
          }
        }

        .favoriteToggle {
          img {
            width: 1.6rem;
            height: 1.6rem;
          }
        }

        .settingsIcon {
          width: 1.6rem;
          height: 1.6rem;
        }
      }
    }
  }
  @media (max-width: 1280px) {
    gap: 0.9rem;
    padding: 0.5rem;
    .nav {
      padding-bottom: 0.4rem;
      ul {
        gap: 4rem;
        li {
          font-size: 1rem;
        }
      }
    }

    .searchBarContainer {
      gap: 1rem;
      .ownerSelect {
        padding: 0.6rem;
        border-radius: 1rem;
        font-size: 0.8rem;
        outline: none;
      }

      .favoriteButton {
        border-radius: 1rem;
        padding: 0.7rem;

        img {
          width: 1.2rem;
          height: 1.2rem;
        }
      }
    }

    .accountList {
      gap: 1rem;
      max-height: 15rem;
      padding-right: 0.5rem;
    }

    .accountCard {
      border-radius: 1rem;
      padding: 0.9rem;

      .accountInfo {
        gap: 0.5rem;
        .accountName {
          font-size: 0.8rem;
        }

        .accountOwner {
          font-size: 0.7rem;
        }
      }

      .accountActions {
        gap: 0.6rem;
        .toggleBalanceButton {
          gap: 1rem;
          font-size: 0.7rem;
          img {
            width: 1.1rem;
            height: 1.1rem;
          }
        }

        .favoriteToggle {
          img {
            width: 1.1rem;
            height: 1.1rem;
          }
        }

        .settingsIcon {
          width: 1.1rem;
          height: 1.1rem;
        }
      }
    }
  }
}
