.card {
    width: 100%; /* Os cards ocuparão toda a largura disponível em telas menores */
    max-width: 320px; /* Limita a largura máxima do card */
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    padding: 11px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    font-family: 'Lato', sans-serif !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    @media (max-width: 768px) {
        width: 50%; 
    }

    @media (max-width: 480px) {
        max-width: 30%; 
    }
}

.iconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;

    @media (max-width: 768px) {
        margin-top: -25px;
    }

    @media (max-width: 480px) {
        margin-top: -20px;
    }
}

.icon {
    width: 40px;
    height: 40px;

    @media (max-width: 768px) {
        width: 35px;
        height: 35px;
    }

    @media (max-width: 480px) {
        width: 30px;
        height: 30px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.currency {
    font-size: 14px;
    color: gray;

    @media (max-width: 480px) {
        font-size: 12px;
    }
}

.percentage {
    font-size: 14px;
    font-weight: 600;

    @media (max-width: 480px) {
        font-size: 12px;
    }
}

.value {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;

    @media (max-width: 768px) {
        font-size: 20px;
    }

    @media (max-width: 480px) {
        font-size: 18px;
    }
}

.graph {
    margin-top: 10px;

    @media (max-width: 768px) {
        margin-top: 8px;
    }

    @media (max-width: 480px) {
        margin-top: 6px;
    }
}
