.historicoDeAtividade {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Lato', sans-serif;
  
    table {
        width: 100%;
        border-collapse: collapse;
    }
    
    th, td {
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }
  .green {
    color: green;
  }
  
  .red {
    color: red;
  }
}
  