.cryptoTableContainer {
    border-radius: 10px;
    padding: 16px;
    height: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .tabFilter {
      display: flex;
      justify-content: center;
      padding: 1rem;
  
      .tabOption {
        background: none;
        border: none;
        transition: color 0.3s, border-bottom 0.3s;
      
        padding-bottom: 5px;
        cursor: pointer;
        font-size: 1.25rem;
        padding: 1rem;
        color: #666;
        position: relative;
        
        &:hover {
          color: #333;
        }
  
        &.active {
          color: orange;
          border-bottom: 1px orange;
          
        }
  
        &.active::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 3px;
          background-color: #f9a825;
          border-radius: 2px;
        }
      }
    }
  
    .categoryFilterContainer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 20px;
  
      .categoryFilter {
        display: flex;
        align-items: center;
        gap: 3rem;  
  
        .categoryOption {
          margin-right: 20px;
          padding-bottom: 5px;
          cursor: pointer;
          font-size: 1rem;
          
          color: #666;
          position: relative;
          
  
          &:hover {
            color: #333;
          }
  
          &.active {
            color: #f9a825;
          }
  
          &.active::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 3px;
            background-color: #f9a825;
            border-radius: 2px;
          }
        }
      }
  
     
    

      
    }
    
  
    .cryptoTable {
      width: 100%;
      overflow-x: auto;
  
      table {
        width: 100%;
        border-collapse: collapse;
  
        th {
          text-align: left;
          padding: 15px;
          
          color: #f9a825;
          font-size: 1rem;
         
         
        }
  
        td {
          padding: 15px;
          color: #666;
          font-size: 1rem;
          
          
  
          &:first-child {
            display: flex;
            align-items: center;
            gap: 20px;
          }
  
          img.tableIcon {
            width: 30px;
            height: 30px;
            background-color: #bbbbbb;
            border-radius: 50%;
          }
  
          .coinDetails {
            display: flex;
            flex-direction: column; /* Coloca o nome e o símbolo em uma coluna */
          }
  
          .coinName {
            font-weight: bold;
            padding: 3px 0;
            color: black;
          }
  
          .coinSymbol {
            font-size: 12px;
            color: #888;
          }
        }
  
        .tableRow {
          &:hover {
            background-color: #f6f6f6;
          }
  
          &.favorite {
            background-color: #fffbec;
          }
        }
      }
    }
  
    .positive {
      color: #4caf50 !important;
      font-weight: bold;
    }
  
    .negative {
      color: #f44336 !important;
      font-weight: bold;
    }
  }
  