.cryptoSections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  
  max-width: 100%;
}

.cryptoBoxContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.coinItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
  justify-content: space-between;
}

.coinIcon {
  width: 30px;
  height: 30px;
}

.coinName {
  
  font-family: 'Lato', sans-serif;
  width: 5rem;
}

.coinSymbol {
  color: #777;
}

.coinPrice,
.coinChange {
  font-weight: bold;
  font-size: 0.9em;
}

.positive {
  color: #4caf50;
}

.negative {
  color: #f44336;
}
